:root {
  --player-color_1: #EC7063;
  --player-color_2: #5DADE2;
}

* {
  box-sizing: border-box;
}

/* body */
.grid_container {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
  background-color: #58D68D;
  height: 100vh;
  font-family: sans-serif;
}

/* .disabled_grid_container {
  pointer-events: none;
  opacity: 0.4;
} */

/* Estilos del tablero */
.grid_container_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: #F2F3F4;

  box-shadow: 10px 10px 5px black;

  width: 35vw;
  min-width: 350px;
  height: 35vw;
  min-height: 350px;
}

.grid_container_board,
.square {
  border: 1px solid black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;

  font-size: 32px;
}

/* .square:hover {
  background-color: rgb(203, 203, 203);
} */

.red {
  background-color: var(--player-color_1);
}

.blue {
  background-color: var(--player-color_2);
}

/* Estilos de menú */
.grid_container_menu {
  min-width: 158px;
  width: 50%;
}

.players_score {
  display: flex;

  margin-bottom: 10px;
}

.player {
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  width: 50%;
}

.player_simbol_1 {
  background-color: var(--player-color_1);
}

.player_simbol_2 {
  background-color: var(--player-color_2);
}

.player_simbol_2,
.player_simbol_1 {
  font-size: 30px;
}

.player_simbol_2,
.player_simbol_1,
.player_score {
  border: 1px solid black;

  text-align: center;
}

.player_score {
  font-size: 60px;

  background-color: rgb(242, 243, 244);
}

.flex_container_buttons {
  display: flex;
  justify-content: space-between;
}

.flex_container_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
}

/* Estilos del modal */
.modal {
  position: absolute;

  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: rgb(220, 220, 220);

  height: 200px;
  width: 400px;
  padding: 10px;
}

.winner_message {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 32px;
}

.modal button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
}